* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#root {
  flex-direction: column;
  align-items: center;
}

.App {

}


h1 {

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  margin-top: 15px;

}

.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.gallery__image {
  margin: 20px auto;
  width: 229px;
}


.container{
  display: flex;
  margin: 30px 20px 32px 30px;
  flex-wrap: wrap;
  position: absolute;
  min-height:100%;
}

.image {
  margin-bottom: 30px;
  width: 331px;
}

.comment{
  margin-left: 14px;
}


.comment_text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #000000;
}

.comment_date{

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  margin-bottom: 5px;
  color: #999999;
}

.comment_form{
  width: 331px;
}

.exit_btn {
  display: flex;
  position: absolute;
  right: 72px;
  top: -40px;
  border: 0;
  background: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: lighter;
  font-size: 50px;

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  margin-bottom: 10px;
}

.footer_line{
  margin: 12px auto;
  border: 1px solid #CCCCCC;
  width: 90%;
}

.footer_content {
  text-align: center;

  font-family: Roboto Condensed;
  font-weight: normal;
  font-size: 14px;
  color: #CCCCCC;
}

@media (max-width: 425px) {
  .gallery__image {
    width: 280px;
  }
  .footer {
    position: static;
  }
  .comment{
    width: 100%;
    padding: 22px;
    margin-bottom: 25px;
  }
  .exit_btn{
    right: 26px;
    top: 1px;
  }
  .container{
    margin: 0 0 25px 0;
  }
  .image{
    width: 100%;
  }
  .comment_form{
    width: 100%;
    padding: 22px;
  }
}

